@charset "UTF-8";
/* body styles */
*   {
  box-sizing:border-box;
}
body {
    font-family: Georgia, serif;
    font-size: 100%;
    background-color: white;
    margin: 0;
    }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: #227C9D;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #17C3B2;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #FFCB77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #FFCB77;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: RIGHT;
    width: 25%;
    background-color: #FFCB77;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #FE6D73;
    width: 100;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #FFCB77;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #227C9D;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }